@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

#cocktail_photo {
    position: relative;
    margin-top: 10px;
    display: flex;
    border: antiquewhite;
    border-style: groove;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
  }

#cocktail_photo_quote{
  font-family: "Raleway", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  max-width: 190px;
  font-size: 10px; /* adjust the font size as needed */
  color: rgb(167, 165, 165); /* set the text color to contrast with the image */
  padding: 10px; /* add some padding to the text to make it more legible */
}

#cocktail_photo_name{
    position: absolute;
    font-family: "Raleway", sans-serif;
    bottom: 0;
    left: 0;
    margin: 0;
    font-size: 10px; /* adjust the font size as needed */
    color: rgb(167, 165, 165); /* set the text color to contrast with the image */
    padding: 10px; /* add some padding to the text to make it more legible */
}

