body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

code {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Column1 {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 20px;
}

.Column2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 20px;
}

.menu_header {
  width: 100%;
  Padding: 20px;
  background-color: antiquewhite;
  margin: 0px;
}

.Main_Menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .Main_Menu {
    flex-direction: column;
  }
  
  .Column1, .Column2 {
    width: 100%;
    margin-right: 10px;
    padding-right: 20px;
  }
}





